<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-3 qualCol">
        <h4>Innovation</h4>
        <p>We strive to innovate everyday to provide you a custom-built solution that will suit your day-to-day needs</p>
    </div>
    <div class="col-md-3 qualCol">
        <h4>Excellence</h4>
        <p>We strive to innovate everyday to provide you a custom-built solution that will suit your day-to-day needs</p>
    </div>
    <div class="col-md-3 qualCol">
        <h4>Partnerships</h4>
        <p>We strive to innovate everyday to provide you a custom-built solution that will suit your day-to-day needs</p>

    </div>
  </div>
</div>
