<div class="container-fluid ">
    <div class="row justify-content-center">

        <div class="col-lg-4" style="text-align:center">
            <img src="../../assets/images/conveyor.jpg">
            CHIP CONVEYORS
        </div>
        <div class="col-lg-4 justify-content-center" style="text-align:center">
                <img src="../../assets/images/filter.jpg">
            OIL FILTERS
        </div>
        <div class="col-lg-4 justify-content-center" style="text-align:center">
            CHILLING UNITS1
        </div>

    </div>
</div>