
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a href="#" class="navbar-left"><img src="https://firebasestorage.googleapis.com/v0/b/vgsandco-157a7.appspot.com/o/logo.jpg?alt=media&token=90e2d43b-373d-45b6-8daf-af60f928cf72" class="img-responsive"></a>
    <a href="#" class="navbar-brand">VGS</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mainmenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="mainmenu">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a href="/aboutus" class="nav-link">ABOUT</a>
                
            </li>
            <li class="nav-item ">

                <a href="#" class="nav-link">PRODUCTS</a>
            </li>
            <li class="nav-item ">

                <a href="#" class="nav-link">CONTACT</a>
            </li>
              
        </ul>
    </div>
</nav>



