
<div class="container-fluid abovefooter">
  <div class="row justify-content-center">
    <div class="col-md-6 contactarea">
      <img 
      class="img-responsive" 
      src="https://firebasestorage.googleapis.com/v0/b/vgsandco-157a7.appspot.com/o/phone%20icon.jpg?alt=media&token=b9f8f274-f8e8-4223-8129-aa1a96734cdb"
      style="height:70px;">
      <span class="contacttext">+91 99529 63960</span>
      </div>
      <div class="col-md-6 contactarea">
          <img 
          class="img-responsive" 
          src="https://firebasestorage.googleapis.com/v0/b/vgsandco-157a7.appspot.com/o/email.png?alt=media&token=0dcfc433-5e64-4f71-90bb-696c62af1ece"
          style="height:70px;">
          <span class="contacttext">service@vgsandco.com</span>
    </div>
 
</div>


<div class="container-fluid footer">
  <div class="row d-flex justify-content-center">
    <div class="col-md-12 footer">
      <div class="addressarea">
        <!-- <div class="addressheader">Address</div> -->
        <div class="addressdetail">All Copyrights Reserved 2018 - VGS & Co</div>
      </div>
    </div>
  </div>
</div>