<div class="container-fluid recheader justify-content-center" style="margin-top:75px">
    <!-- <div class="row justify-content-center" style="border: 5px solid red"> -->
    <!-- <div class="col-md-12 jumbotron jumbtotron1"> -->

    <!-- </div> -->
    <div class="col-md-8 section">
        <div class="section header">
            <p>-Our History-</p>
        </div>
        <div class="section content">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea rerum laborum, veniam adipisci atque debitis praesentium blanditiis recusandae unde laudantium, earum minima excepturi eaque, quas voluptatum qui pariatur cumque. Illo.
        </div>
    </div>
</div>

<!-- </div> -->